/*phones*/
@media(min-width: 18){

}
/*tablets*/
@media(min-width: 48em){

}
/*Desktop*/
@media(min-width: 75em){

}
.container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*header*/
.nav__link{
  padding: 0.938em;
  text-decoration: none;
}

/*articles*/

.article__header--paragraph{
  font-size: 1.875;
}
.article__header--form{
  display: block;
}

article:nth-child(odd){
  background-color: #1E2022;
  /*opacity: 0.5;*/
}
